/*
Abstracts
*/
:root {
  --bg-navbar-color: hsl(351, 81%, 27%);
  --bg-navbar-buttons-list-color: transparent;
  --bg-navbar-hover-color: hsl(351 80% 16%);
  --bg-navbar-sublist: hsl(10, 66%, 56%);
  --bg-navbar-hover-sublist: hsl(10, 66%, 44%);
  --navbar-text-color: white;
  --bg-menu-button-color: hsl(351, 80%, 68%);
}

/*
Components
*/
* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: var(--bg-navbar-color);
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__items {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__sublist {
  display: none;
  top: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.nav__sublist__item {
  height: 48px;
  background-color: var(--bg-navbar-sublist);
}
.nav__item-link {
  text-decoration: none;
  cursor: pointer;
  color: var(--navbar-text-color);
  background-color: var(--bg-navbar-buttons-list-color);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  min-width: 72px;
  width: 170px;
}
.nav__item {
  list-style-type: none;
  position: relative;
}
.nav__item:hover {
  background-color: var(--bg-navbar-hover-color);
}
.nav__item:hover .nav__sublist {
  display: block;
}
.nav__sublist-link:hover {
  background-color: var(--bg-navbar-hover-sublist);
}

.menu-button {
  display: none;
  cursor: pointer;
  background-color: var(--bg-menu-button-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

@media all and (max-width: 700px) {
  .menu-button {
    display: inline-block;
  }
  .nav__items {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .nav__item-link {
    width: 100vw;
  }
  .nav__item:hover .nav__sublist {
    display: none;
  }
  .visible {
    visibility: visible;
    margin-top: 48px;
    height: calc(100vh - 48px);
    width: 100%;
    background-color: var(--bg-navbar-color);
  }
}