:root {
  --bg-navbar-color: hsl(351, 81%, 27%);
  --bg-navbar-buttons-list-color: transparent;
  --bg-navbar-hover-color: hsl(351 80% 16%);
  --bg-navbar-sublist: hsl(10, 66%, 56%);
  --bg-navbar-hover-sublist: hsl(10, 66%, 44%);
  --navbar-text-color: white;
  --bg-menu-button-color: hsl(351, 80%, 68%);
}
